services:
  web:
    build: ./app/.
    container_name: flask-app
    ports:
      - "5000:5000"
    environment:
      REDIS_HOST: redis-cache
    depends_on:
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
    restart: unless-stopped

  redis:
    image: ghcr.io/younesmod/redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data:
