name: Scan Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  scan:
    runs-on: ubuntu-latest
    
    steps:
      - name: Scan Redis Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "ghcr.io/${{ github.repository_owner }}/redis:7-alpine"

      - name: Scan Flask Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "ghcr.io/${{ github.repository_owner }}/docker-flask-redis-counter:${{ github.sha }}"
